<!DOCTYPE html>
<html>
<head>
	<title>REST API</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>
<body>
	<br>
	<center><h2>Admin Login</h2></center><br>
	<div class="container" align="center">
		<form method="GET" action="/viewdata">
			<input type="text" name="username" placeholder="Username"><br><br>
			<input type="password" name="password" placeholder="Password"><br><br>
			<input type="submit" name="Submit">
		</form>
	</div>

</body>
</html>